<a href="https://colab.research.google.com/github/AyeshaIjazTabassum/PythonAIBootcamp/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Session**

# **What Are Data Structures?**

Data structures are special containers that **store multiple** values in Python.
They help us:



*    Organize data


*   Modify and manage large amounts of information easily



*    Access data faster



Today, we learn 3 important data structures:


*   **Lists**

*   **Tuples**
*   **Dictionaries**

# **Lists**

A list is an **ordered collection** of items.
It is **changeable**, which means we can add, remove, or update values.

**✔ Characteristics**


*   Written in square brackets → [ ]
*   Items are indexed (starting from 0)


*   Supports adding/removing items

In [ ]:
fruits = ["apple", "banana", "mango"]
marks = [85, 90, 78]
mix = ["asma", 20, True]

# **List Operations**
 **1. Accessing elements**

In [ ]:
fruits = ["apple", "banana", "mango"]
print(fruits[0])   # apple
print(fruits[2])   # mango

apple
mango

**2. Changing element**

In [ ]:
fruits[1] = "orange"
print(fruits)  # ["apple", "orange", "mango"]

['apple', 'orange', 'mango']

**3. Adding items**

In [ ]:
fruits.append("grapes")
print(fruits)

['apple', 'orange', 'mango', 'grapes']

**4. Removing items**

In [ ]:
fruits.remove("apple")
print(fruits)

['orange', 'mango', 'grapes']

**5. List length**

In [ ]:
print(len(fruits))

3

# **3. Tuples**

A tuple is similar to a list but **cannot be changed**.
It is immutable.

**✔ Characteristics**



*   Written in parentheses → ( )

*   Ordered
*   Cannot modify values

**Accessing tuple elements**

In [ ]:
colors = ("red", "green", "blue")
print(colors[0])  # red

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

red
cherry

**Add Item**

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**Update tuple**

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Tuples cannot be changed**

In [ ]:
colors[1] = "yellow"
# ❌ This will give an error

TypeError: 'tuple' object does not support item assignment

# **4. Dictionaries**

Dictionaries store data in key : value pairs.
Each item has a name (key) and a value.

**✔ Characteristics**



*   Data is stored as key-value pairs






*   Written in curly braces → { }




*   Keys must be unique
*   Values can be changed

In [ ]:
student = {
    "name": "Asma",
    "age": 20,
    "grade": "A"
}

**Dictionary Operations**

**Accessing value**

In [ ]:
student = {"name": "Asma", "age": 20}
print(student["name"])  # Asma

Asma

**Changing values**

In [ ]:
student["age"] = 21
print(student)

{'name': 'Asma', 'age': 21}

**Adding new key-value**

In [ ]:
student["city"] = "Bahawalpur"
print(student)

{'name': 'Asma', 'age': 21, 'city': 'Bahawalpur'}

**Removing key-value**

In [ ]:
student.pop("age")
print(student)

{'name': 'Asma', 'city': 'Bahawalpur'}

**Lists** → Changeable, ordered → ["apple", "banana"]

 **Tuples** → Unchangeable, ordered → ("red", "green")

**Dictionaries** → Key-value pairs → {"name": "Asma", "age": 20}

# **Sets**

A set in Python is a **collection of unique items**.

It is mostly used when you want to remove duplicates  or check membership quickly.

**✔ Characteristics of Sets:**

*   Written in curly braces → { }

*   No duplicates allowed
*   Unordered (items have no index)


*   Changeable (you can add/remove items)

In [1]:
numbers = {1, 2, 3, 4}

In [2]:
duplicates = {1, 2, 2, 3}
print(duplicates)
# Output: {1, 2, 3}
# Python automatically removes duplicate "2"

{1, 2, 3}

**Set Operations**

**1. Creating a Set**

In [3]:
my_set = {10, 20, 30}
print(my_set)

{10, 20, 30}

**2. Adding Items**

In [4]:
fruits = {"apple", "banana"}
fruits.add("mango")
print(fruits)

{'mango', 'banana', 'apple'}

 **3. Removing Items**

In [5]:
fruits.remove("banana")
print(fruits)

{'mango', 'apple'}

**4. Checking If Value Exists**

In [6]:
numbers = {5, 10, 15, 20}
print(10 in numbers)   # True
print(50 in numbers)   # False

True
False

**5. Set Length**

In [7]:
print(len(numbers))

4

**6. Removing Duplicates Using Set**

In [8]:
data = [1, 2, 2, 3, 3, 3, 4]
unique_data = set(data)
print(unique_data)  # {1, 2, 3, 4}

{1, 2, 3, 4}

**7. Union (Combine Sets)**

In [9]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))
# Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

**8. Intersection (Common Values)**

In [10]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.intersection(b))
# Output: {2, 3}

{2, 3}

#**Practic Questions**

1. Given a list nums = [10, 20, 30, 40, 50], swap the 2nd and 4th elements without using a third variable.

In [11]:
nums = [10, 20, 30, 40, 50]
nums[1] , nums[3] = nums[3] , nums[1]
print(nums)

[10, 40, 30, 20, 50]

2. Merge two lists a = [1, 2] and b = [3, 4].

In [12]:
a = [1,2]
b=[3,4]
c=a+b
print(c)

[1, 2, 3, 4]

3. Create the List of the string

In [18]:
str = "Ayesha"
list(str)

['A', 'y', 'e', 's', 'h', 'a']

4. Extract every second element from a tuple t = (10, 20, 30, 40, 50)

In [13]:
t = (10,20,30,40,50)
print(t[::2])

(10, 30, 50)

5. Check if two tuples are mirrors t1 = (1, 2, 3) and t2 = (3, 2, 1) using slicing

In [14]:
t1 = (1,2,3)
t2 = (3,2,1)
print(t1[::-1] == t2)

True

6. Repeat tuple elements trickily t = (7,), Make it (7, 7, 7, 7)

In [17]:
t = (7,)
print(t*4)

(7, 7, 7, 7)

7. Provide default value if key missing

    d = {"x": 100}

    Get d["y"], but return 0 if not found

In [20]:
d = {"x":100}
print(d.get("y",0)) #not found
print(d.get("x",0)) #found

0
100

8. Create dictionary from two lists without loops

    keys = ["Name", "Degree"]

    vals = ["Ayesha", "Computer Science"]

In [23]:
keys = ["Name", "Degree"]
vals = ["Ayesha", "Computer Science"]
dict(zip(keys, vals))

{'Name': 'Ayesha', 'Degree': 'Computer Science'}

9. Merge two dictionaries
    a = {"x": 1}
    b = {"y": 2}

In [24]:
a = {"x": 1}
b = {"y": 2}
a | b

{'x': 1, 'y': 2}

10. Check if two sets have ANY common number

    a = {1, 3, 5}

    b = {5, 7, 9}

In [25]:
a = {1, 3, 5}
b = {5, 7, 9}
len(a & b) > 0

True

11. Check if set A is a subset of B

    A = {1, 2}

    B = {1, 2, 3, 4}

In [27]:
A = {1, 2}
B = {1, 2, 3, 4}
A.issubset(B)

True

12. Symmetric Difference, Find numbers that are in either set but not both.

    a = {1, 3, 5}
    
    b = {3, 5, 7}

In [28]:
a = {1, 3, 5}
b = {3, 5, 7}
a ^ b

{1, 7}